html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color:#f3f5fc;    
}

header img{
    margin: 1rem 0 0 2rem;
    max-width: 10rem;
    height: auto;
}

header h1{
    visibility: hidden;
    
}



.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    height: 40rem;
    padding: 1rem;
    background: #f3f5fc;
}
.brand{        
    align-items: center;
    justify-content: space-evenly;
}
        
.brand img{
    width: 5%;
    margin-top: 1%;
    margin-left: 5%;
      
}

.title{
    margin-top: 1%; 
}

.lefth{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    height: 80%;
    float: left;
    background: #f3f5fc
}


.inputText{
    float: left;
    width: 100%;
    height: 60%;
    color: #0A3871;
    background:  #f3f5fc;
    font-size: 2rem;
    border: none;
    outline: none;
    margin-top: 1rem;
    resize: none;
}

.buttomLefth{
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    background: #f3f5fc;    
}

p{  
    font-size: 1.2rem;
    padding: .2rem;
    margin-bottom: 1rem ;
    color: darkorange;
    font-weight: bold;
}

#btnEncriptar{
    padding: 1rem;
    flex-basis: 100%;
    height: 70%;
    border-radius: 1.75rem;
    margin: 1rem;
    background: #0A3871;
    color: #ffffff;
    font-size: 150%;
}

#btnDesencriptar{
    padding: 1rem;
    flex-basis: 100%;
    height: 70%;
    border-radius: 1.75rem;
    margin: 1rem;
    background: #D8DFE8;
    font-size: 150%;
    border-color: #0A3871;
}

.rigth{
    width: 30%;
    height:75%;
    float: right;    
    background:  #ffffff;
    display: grid;
    place-items: center;
    border-radius: .5rem;
    box-shadow: .2rem .2rem 1rem darkgray;
}

.banner{
    margin-left: 2%;
    margin-top: 10%;
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
}

.rigth h2{
    color: crimson;
    font-size: large;
    font-weight: bolder;
}

.rigth textarea{
    width: 90%;
    height: 70%;
    margin-top: 5%;
    border: none;
    outline: none;
    background:  #ffffff;
    resize: none;
}

#copy{
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;        
    border-radius: 1.75rem;    
    background: #D8DFE8;
    font-size: 150%;
    border-color: #0A3871;    
    /* visibility: hidden; */
}

@media (max-width: 576px){

    header{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

    header h1{
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 1rem;
        color: #0A3871;
    }
    
    .container{
        display: flex;
        flex-direction: column;
        margin: auto;        
        padding: 5px;
        background: #f3f5fc;
        flex-basis: 100%;
    }
    .brand{
        display: flex;    
        align-items: center;
        justify-content: space-evenly;
    }
            
    .brand img{
        width: 5%;
        margin-top: 1%;
        margin-left: 5%;
          
    }
    
    .title{
        margin-top: 1%;
    }
    
    .lefth{        
        
        background: #f3f5fc;
    }
    
    
    .inputText{
        width: 80%;
        height: 80%;
        color: #0A3871;
        background: #f3f5fc;
        font-size: 1rem;
        border: none;
        outline: none;
        margin: 1rem;
    }
    
    .buttomLefth{
        display: flex;
        justify-content: center;
        flex-direction: column;        
        
        height: auto;
        float: left;
        background: #f3f5fc;
    }
    
    p{
        display: grid;
        place-items: start;
        font-size: 1.2rem;
        padding: .2rem;
        margin-bottom: 1rem ;
        color: darkorange;
        font-weight: bold;
        margin: 1rem;
    }
    
    #btnEncriptar{
        padding: 1rem;
        flex-basis: 100%;
        height: 60%;
        border-radius: 1.75rem;        
        background: #0A3871;
        color: #ffffff;
        font-size: 150%;
    }
    
    #btnDesencriptar{
        padding: 1rem;
        flex-basis: 100%;
        height: 60%;
        border-radius: 1.75rem;        
        background: #D8DFE8;
        font-size: 150%;
        border-color: #0A3871;
    }
    
    .rigth{
        width: 70%;
        height:20%;
        margin: auto;
        padding-top: 1rem;
        background:  #ffffff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        border-radius: .5rem;
        box-shadow: .2rem .2rem 1rem darkgray;
    }
    
    .banner{
       display: none;
    }
    
    .rigth h2{
        color: crimson;
        font-size: large;
        font-weight: bolder;
        padding: .5rem;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    .rigth textarea{
        width: 70%;
        height: 70%;
        margin-top: 5%;
        border: none;
        outline: none;
        background:  #ffffff;
        resize: none;
        text-align: center;
    }
    
    #copy{
        display: none;
        justify-content: center;
        align-items: center;
        padding: 1rem;        
        border-radius: 1.75rem;    
        background: #D8DFE8;
        font-size: 150%;
        border-color: #0A3871;    
        /* visibility: hidden; */
    }
    
}